doctype html
html(lang="en")
    head
        title=Frodo

    body
        div.container
            div.row
                h1 Frodo
                p 
                    | Your shortened URL is 
                    a(href=base_url+'/'+id) #{base_url}/#{id}
